<a href="https://colab.research.google.com/github/frontier1020/colabstart/blob/master/ch07_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
data_tr = pd.read_csv("sample_data/california_housing_train.csv")
data_test = pd.read_csv("sample_data/california_housing_test.csv")

print("캘리포니아 데이터 행열(train) :", data_tr.shape)
print("캘리포니아 데이터 행열(test) :", data_test.shape)

캘리포니아 데이터 행열(train) : (17000, 9)
캘리포니아 데이터 행열(test) : (3000, 9)

In [0]:
print(data_tr.head())     # 5행만 보기
print(data_test.head(3)) # 3행만 보기
# tail를 이용하여 뒤에 5행을 볼 수 있음.
data_tr.tail()     # 뒤에서 5행만 보기

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]
   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0

[3 rows x 9 columns]

       longitude  latitude  ...  median_income  median_house_value
16995    -124.26     40.58  ...         2.3571            111400.0
16996    -124.27     40.69  ...         2.5179             79000.0
16997    -124.30     41.84  ...         3.0313            103600.0
16998    -124.30     41.80  ...         1.9797             85800.0
16999    -124.35     40.54  ...         3.0147             94600.0

[5 rows x 9 columns]

In [0]:
### 구글 콜랩의 데이터 셋을 이용해서 csv, excel파일을 만들자.
data_tr.to_csv("data.csv", index=False)
data_tr.to_excel("data.xlsx", index=True)

### 파일을 불러와 보자.
excel_data = pd.read_excel("data.xlsx")
csv_data = pd.read_csv("data.csv")

In [0]:
### 파일 생성 확인(리눅스 명령 이용)
!ls

data.csv  data.xlsx  sample_data

In [0]:
excel_data.head()

   Unnamed: 0  longitude  ...  median_income  median_house_value
0           0    -114.31  ...         1.4936               66900
1           1    -114.47  ...         1.8200               80100
2           2    -114.56  ...         1.6509               85700
3           3    -114.57  ...         3.1917               73400
4           4    -114.57  ...         1.9250               65500

[5 rows x 10 columns]

In [0]:
csv_data.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

In [0]:
data_tr = pd.read_csv("sample_data/california_housing_train.csv")
data_test = pd.read_csv("sample_data/california_housing_test.csv")

In [0]:
print("데이터 열의 제목(train) : ", data_tr.columns) 
print("데이터 열의 제목(test) : ", data_test.columns)

데이터 열의 제목(train) :  Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')
데이터 열의 제목(test) :  Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [0]:
print(data_tr.info() )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
longitude             17000 non-null float64
latitude              17000 non-null float64
housing_median_age    17000 non-null float64
total_rooms           17000 non-null float64
total_bedrooms        17000 non-null float64
population            17000 non-null float64
households            17000 non-null float64
median_income         17000 non-null float64
median_house_value    17000 non-null float64
dtypes: float64(9)
memory usage: 1.2 MB
None

In [0]:
print(data_test.info() )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
longitude             3000 non-null float64
latitude              3000 non-null float64
housing_median_age    3000 non-null float64
total_rooms           3000 non-null float64
total_bedrooms        3000 non-null float64
population            3000 non-null float64
households            3000 non-null float64
median_income         3000 non-null float64
median_house_value    3000 non-null float64
dtypes: float64(9)
memory usage: 211.1 KB
None

In [0]:
import numpy as np
data_tr.iloc[0,1] = np.nan
data_test.iloc[2,1:8] = np.nan

print(data_tr.head() ) 
print(data_test.head() )

   longitude  latitude  ...  median_income  median_house_value
0    -114.31       NaN  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]
   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81       NaN  ...            NaN            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [0]:
print("train 데이터 셋 : ", data_tr.info() ) 
print()
print("test 데이터 셋 : ", data_test.info() )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
longitude             17000 non-null float64
latitude              16999 non-null float64
housing_median_age    17000 non-null float64
total_rooms           17000 non-null float64
total_bedrooms        17000 non-null float64
population            17000 non-null float64
households            17000 non-null float64
median_income         17000 non-null float64
median_house_value    17000 non-null float64
dtypes: float64(9)
memory usage: 1.2 MB
train 데이터 셋 :  None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
longitude             3000 non-null float64
latitude              2999 non-null float64
housing_median_age    2999 non-null float64
total_rooms           2999 non-null float64
total_bedrooms        2999 non-null float64
population            2999 non-null float64
households            2999 non-null float64
median_income         2999 non-null float64
median_house_value    3000 non-null float64
dtypes: float64(9)
memory usage: 211.1 KB
test 데이터 셋 :  None

In [0]:
import pandas as pd

In [4]:
base_dir = "./sample_data/"
data_tr = pd.read_csv(base_dir + "california_housing_train.csv")
data_test = pd.read_csv(base_dir + "california_housing_test.csv")

# 두번째 행 선택
print(data_tr.iloc[1])

longitude              -114.47
latitude                 34.40
housing_median_age       19.00
total_rooms            7650.00
total_bedrooms         1901.00
population             1129.00
households              463.00
median_income             1.82
median_house_value    80100.00
Name: 1, dtype: float64

In [5]:
data_tr.shape

(17000, 9)

In [8]:
print(data_tr.iloc[2:4])    # (2+1)행부터 4행까지 선택
print(data_tr.iloc[:4])     # 처음부터 4행까지 선택
print(data_tr.iloc[16997:]) # 16998행부터 끝까지 선택

   longitude  latitude  ...  median_income  median_house_value
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0

[2 rows x 9 columns]
   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0

[4 rows x 9 columns]
       longitude  latitude  ...  median_income  median_house_value
16997    -124.30     41.84  ...         3.0313            103600.0
16998    -124.30     41.80  ...         1.9797             85800.0
16999    -124.35     40.54  ...         3.0147             94600.0

[3 rows x 9 columns]

In [14]:
data_tr.head(3)

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0

[3 rows x 9 columns]

In [15]:
# 열 선택(열 컬럼명으로 선택)
print("latitude 컬럼명으로 선택")
col_sel = data_tr['latitude']
print(col_sel.head())

latitude 컬럼명으로 선택
0    34.19
1    34.40
2    33.69
3    33.64
4    33.57
Name: latitude, dtype: float64

In [18]:
# 두번째 열 선택(열도 0부터 시작하므로 지정값의 +1열)
print("두번째 열 선택")
col_sel = data_tr.iloc[:,1]
print( col_sel.head() )

두번째 열 선택
0    34.19
1    34.40
2    33.69
3    33.64
4    33.57
Name: latitude, dtype: float64

In [22]:
# 복수열 선택 : 3개 열 선택(컬럼명으로)
print("컬럼명으로 선택_3개 컬럼")
column_name = ['latitude', 'total_rooms', 'population']
row_sel = data_tr[column_name]
print( row_sel.head() )

컬럼명으로 선택_3개 컬럼
   latitude  total_rooms  population
0     34.19       5612.0      1015.0
1     34.40       7650.0      1129.0
2     33.69        720.0       333.0
3     33.64       1501.0       515.0
4     33.57       1454.0       624.0

In [23]:
# 복수열 선택 : 3개 열 선택(숫자 이용)
print("컬럼명으로 선택_3개 컬럼")
row_sel = data_tr.iloc[:,[1,3,5]]
print( row_sel.head() )

컬럼명으로 선택_3개 컬럼
   latitude  total_rooms  population
0     34.19       5612.0      1015.0
1     34.40       7650.0      1129.0
2     33.69        720.0       333.0
3     33.64       1501.0       515.0
4     33.57       1454.0       624.0

In [42]:
# 일부 데이터 선택 (iloc 를 이용 행과 열에 접근)
# 1~10행, longitude, latitude, total_rooms, population에 접근 
print("데이터의 일부 가져오기")
dat_part = data_tr.iloc[0:10,[0,1,3,5]]
print( dat_part.head() )

데이터의 일부 가져오기
   longitude  latitude  total_rooms  population
0    -114.31     34.19       5612.0      1015.0
1    -114.47     34.40       7650.0      1129.0
2    -114.56     33.69        720.0       333.0
3    -114.57     33.64       1501.0       515.0
4    -114.57     33.57       1454.0       624.0

In [0]:
import folium

In [49]:
lat_m = dat_part['latitude'].mean()  # 위도 위치의 평균
log_m = dat_part['longitude'].mean() # 경도 위치의 평균
rooms_m = dat_part['total_rooms'].mean() # 총 방수의 평균
pop_m = dat_part['population'].mean() # 인구의 평균

print("위도, 경도", lat_m , log_m )
print("방, 인구(평균", rooms_m , pop_m )

# 지도 중심위치 및 확대
map1 = folium.Map(location=[lat_m, log_m], zoom_start=7)
# Marker 설명(집, 인구) 
des = "방" + str(rooms_m) + "<br>" + "인구" + str(pop_m) 

folium.Marker([lat_m, log_m], popup=des).add_to(map1) # 마커 추가
map1

위도, 경도 34.0 -114.542
방, 인구(평균 2832.9 1042.4

In [67]:
## 컬럼명 변경
dat_part.columns = ['long', 'lat', 'tot_rooms', 'pop']
dat_part.columns

Index(['long', 'lat', 'tot_rooms', 'pop'], dtype='object')

In [71]:
df = dat_part.copy()
df.describe()

             long        lat    tot_rooms          pop
count   10.000000  10.000000    10.000000    10.000000
mean  -114.542000  34.000000  2832.900000  1042.400000
std      0.089294   0.519145  2377.174534   858.024242
min   -114.600000  33.570000   720.000000   333.000000
25%   -114.587500  33.615000  1403.750000   542.250000
50%   -114.575000  33.665000  1499.000000   729.000000
75%   -114.562500  34.347500  4318.500000  1100.500000
max   -114.310000  34.830000  7650.000000  3134.000000

In [0]:
# 여러개의 데이터 표시
# 데이터 셋 복사 및 컬럼명 변경
df = dat_part.copy()
df.columns = ['long', 'lat', 'tot_rooms', 'pop']
df.columns

map2 = folium.Map(location=[lat_m, log_m], zoom_start=9)

# 추후 색 지정을 위한 함수
def color(pop_num): 
    if pop_num in range(0,1000): 
        col = 'green'
    elif pop_num in range(1001,1999): 
        col = 'blue'
    elif pop_num in range(2000,2999): 
        col = 'orange'
    else: 
        col='red'
    return col

In [81]:
for lat,lan,room,pop in zip(df['lat'],df['long'],df['tot_rooms'],df['pop']): 
    # as a list as an argument 
    folium.Marker(location=[lat,lan],popup = "방" + str(room), 
                  icon= folium.Icon(color=color(pop), 
                  icon_color='yellow',icon = 'cloud')).add_to(map2) 


# Save the file created above 
print(map2.save('test7.html'))
map2

None